@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.glow-on-hover {
  transition: box-shadow 0.1s ease-in-out;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px rgba(238, 92, 92, 0.8);
}



