@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body[data-loaded="true"] {
  opacity: 1;
}

.glow-on-hover {
  transition: box-shadow 0.1s ease-in-out;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px rgba(238, 92, 92, 0.8);
}
/* Hide scrollbar for all elements except the body */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom scrollbar style for the body */
body {
  overflow-y: scroll; /* Always show vertical scrollbar */
}






