@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body[data-loaded="true"] {
  opacity: 1;
}

.glow-on-hover {
  transition: box-shadow 0.1s ease-in-out;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px rgba(238, 92, 92, 0.8);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff; /* White dots */
  will-change: transform;
}

.bg-diagonal-stripes {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.05) 0px,
    rgba(0, 0, 0, 0.05) 10px,
    transparent 10px,
    transparent 20px
  );
  background-repeat: repeat;
}






